@model List<CSDASSETSYSTEM.Models.Core.Department>


<!DOCTYPE html>

<html>
<head>

    <title>ListOfDepartment</title>
</head>
<br />


@*=============================search bar assignment 3*@
@using (Html.BeginForm("ListOfDepartmentSeach", "Marieniel", FormMethod.Post))
{
    <tr>
        <th>
            @Html.TextBox("SearchDetails")
        </th>
        <td>
            <input type="submit" value="Search" />
        </td>
    </tr>

    
}

@*===============================end search bar*@
<body>
    <div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Department Code</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var dep in Model)
                    {
                        @Html.Partial("ListOfDepartmentPartialView", dep)
                    }
                }


            </tbody>
        </table>

    </div>
</body>
</html>
