
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonDetailsViewBag</title>
</head>
<body>
    <div>
    
            <table>
                <tr>
                    <td>Id:</td>
                    <td>@ViewBag.Id</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>@ViewBag.Name</td>
                </tr>
                <tr>
                    <td>Company Id:</td>
                    <td>@ViewBag.CompanyId</td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>@ViewBag.Department</td>
                </tr>
            </table>
        </div>
   
</body>
</html>
