
@{
    ViewBag.Title = "Home Page";
}





<div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
          
                Name
            </div>
            <div class="col-md-3">
                @ViewData["Name"]

            </div>
            <div class="col-md-3">

               Full Address
            </div>
            <div class="col-md-3">
              @ViewBag.FullAddress

            </div>
        </div>
    </div>
  

</div>