@model CSDASSETSYSTEM.Models.Core.Asset


@{
    ViewBag.Title = "Home Page";
}





<div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
                ID

            </div>
            <div class="col-md-3">
                @Model.Id

            </div>
            <div class="col-md-3">

                Asset Code
            </div>
            <div class="col-md-3">
                @Model.AssetCode

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
                Asset Name

            </div>
            <div class="col-md-3">
                @Model.AssetName

            </div>
            <div class="col-md-3">

                Asset Type
            </div>
            <div class="col-md-3">
                @Model.AssetType

            </div>
        </div>
    </div>

</div>