

@{
    ViewBag.Title = "Home Page";
}



@ViewBag.Date


<h2>Basic Form</h2>

@using (Html.BeginForm("RegistrationForm", "Asset", FormMethod.Post, new { Id = "FirstForm" }))
{


    <div class="row">
        <div class="col-lg-6 col-md-6">
            @Html.TextBox("Name")
        </div>
        <div class="col-lg-6 col-md-6">
            @Html.TextBox("LastName")
        </div>
    </div>

    @ViewBag.FullName
    <input type="submit" value="Submit" />

}




